# Filtering through queries

## Authors

[Deborah Khider](https://orcid.org/0000-0001-7501-8430)

## Preamble

`PyLiPD` is a Python package that allows you to read, manipulate, and write [LiPD](https://cp.copernicus.org/articles/12/1093/2016/cp-12-1093-2016-discussion.html#discussion) formatted datasets. In this tutorial, we will demonstrate how to use pre-defined filtering capabilities through APIs. 

<div class="alert alert-success">
<b>Note:</b> This capabilities are under heavy development. If you are interested in other filtering capabilities to help with your science, please <a href='https://github.com/LinkedEarth/pylipd/issues'>open an issue</a>.
</div>

### Goals

* Use existing APIs to filter datasets according to archive types, location and variable names.
* Understand the concept of a `LiPDSeries` object and how it differs from `LiPD` object.

Reading Time: 5 minutes

### Keywords

LiPD

### Pre-requisites

* This tutorial assumes basic knowledge of Python and Pandas. If you are not familiar with this coding language and this particular library, check out this tutorial: http://linked.earth/ec_workshops_py/.
* [Retrieving Information from LiPD files](L1_getting_information.ipynb)

### Relevant Packages

pylipd

## Data Description

This notebook uses the following datasets, in LiPD format:

- Euro2k database: PAGES2k Consortium., Emile-Geay, J., McKay, N. et al. A global multiproxy database for temperature reconstructions of the Common Era. Sci Data 4, 170088 (2017). doi:10.1038/sdata.2017.88

## Demonstration

### Filtering by the type of archive

Let's start by importing our favorite package and load our datasets.

In [1]:
from pylipd.lipd import LiPD

path = '../data/Euro2k/'

D = LiPD()
D.load_from_dir(path)

Loading 31 LiPD files

100%|█████████████████████████████████████████████████████████████| 31/31 [00:00<00:00, 46.98it/s]

Loaded..

And let's get a list of available datasets so we can compare the results as we filter using various criteria:

In [2]:
D.get_all_dataset_names()

['Ocn-RedSea.Felis.2000',
 'Arc-Forfjorddalen.McCarroll.2013',
 'Eur-Tallinn.Tarand.2001',
 'Eur-CentralEurope.Dobrovoln_.2009',
 'Eur-EuropeanAlps.B_ntgen.2011',
 'Eur-CentralandEasternPyrenees.Pla.2004',
 'Arc-Tjeggelvas.Bjorklund.2012',
 'Arc-Indigirka.Hughes.1999',
 'Eur-SpannagelCave.Mangini.2005',
 'Ocn-AqabaJordanAQ19.Heiss.1999',
 'Arc-Jamtland.Wilson.2016',
 'Eur-RAPiD-17-5P.Moffa-Sanchez.2014',
 'Eur-LakeSilvaplana.Trachsel.2010',
 'Eur-NorthernSpain.Mart_n-Chivelet.2011',
 'Eur-MaritimeFrenchAlps.B_ntgen.2012',
 'Ocn-AqabaJordanAQ18.Heiss.1999',
 'Arc-Tornetrask.Melvin.2012',
 'Eur-EasternCarpathianMountains.Popa.2008',
 'Arc-PolarUrals.Wilson.2015',
 'Eur-LakeSilvaplana.Larocque-Tobler.2010',
 'Eur-CoastofPortugal.Abrantes.2011',
 'Eur-TatraMountains.B_ntgen.2013',
 'Eur-SpanishPyrenees.Dorado-Linan.2012',
 'Eur-FinnishLakelands.Helama.2014',
 'Eur-Seebergsee.Larocque-Tobler.2012',
 'Eur-NorthernScandinavia.Esper.2012',
 'Arc-GulfofAlaska.Wilson.2014',
 'Arc-Kittelfjall.Bjorklund.2012',
 'Eur-L_tschental.B_ntgen.2006',
 'Eur-Stockholm.Leijonhufvud.2009',
 'Arc-AkademiiNaukIceCap.Opel.2013']

Now let's look at the available types of archives for which we can filter:

In [3]:
D.get_all_archiveTypes()

['coral',
 'tree',
 'documents',
 'lake sediment',
 'speleothem',
 'marine sediment',
 'glacier ice']

Let's first filter for speleothem records:

In [4]:
D_speleothem = D.filter_by_archive_type('speleothem')

D_speleothem.get_all_dataset_names()

['Eur-SpannagelCave.Mangini.2005', 'Eur-NorthernSpain.Mart_n-Chivelet.2011']

The function uses [regular expressions](https://learn.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference) to do partial matches. Therefore, you can look for all the datasets based on marine sediments using:

In [5]:
D_marine = D.filter_by_archive_type('marine')

D_marine.get_all_dataset_names()

['Eur-RAPiD-17-5P.Moffa-Sanchez.2014', 'Eur-CoastofPortugal.Abrantes.2011']

However, looking for `sediment` will return records based on both marine and lake sediments:

In [6]:
D_sediment = D.filter_by_archive_type('sediment')

D_sediment.get_all_dataset_names()

['Eur-CentralandEasternPyrenees.Pla.2004',
 'Eur-RAPiD-17-5P.Moffa-Sanchez.2014',
 'Eur-LakeSilvaplana.Trachsel.2010',
 'Eur-CoastofPortugal.Abrantes.2011',
 'Eur-Seebergsee.Larocque-Tobler.2012',
 'Eur-LakeSilvaplana.Larocque-Tobler.2010']

In [7]:
D_marinespeleo = D.filter_by_archive_type('(marine|speleothem)')

D_marinespeleo.get_all_dataset_names()

['Eur-SpannagelCave.Mangini.2005',
 'Eur-NorthernSpain.Mart_n-Chivelet.2011',
 'Eur-RAPiD-17-5P.Moffa-Sanchez.2014',
 'Eur-CoastofPortugal.Abrantes.2011']

If you are not comfortable with regular expression and constructing patterns as we have done above, you can always merge two `LiPD` objects as we demonstrated [previously](L0_loading_lipd_datasets.ipynb). Therefore, the filtering above can also be achieved by combining our previous objects:

In [8]:
D_merged = D_marine.merge(D_speleothem)

D_merged.get_all_dataset_names()

['Eur-RAPiD-17-5P.Moffa-Sanchez.2014',
 'Eur-CoastofPortugal.Abrantes.2011',
 'Eur-SpannagelCave.Mangini.2005',
 'Eur-NorthernSpain.Mart_n-Chivelet.2011']

### Filtering by location

Let's filter using a [bounding box](https://pylipd.readthedocs.io/en/latest/source/pylipd.html#pylipd.lipd.LiPD.filter_by_geo_bbox) between 40-70N and 0-90E:

In [9]:
D_geo = D.filter_by_geo_bbox(lonMin=0, latMin=40, lonMax=90, latMax=70)

D_geo.get_all_dataset_names()

['Eur-CentralandEasternPyrenees.Pla.2004',
 'Arc-Forfjorddalen.McCarroll.2013',
 'Eur-SpannagelCave.Mangini.2005',
 'Eur-TatraMountains.B_ntgen.2013',
 'Eur-MaritimeFrenchAlps.B_ntgen.2012',
 'Arc-Kittelfjall.Bjorklund.2012',
 'Eur-FinnishLakelands.Helama.2014',
 'Eur-CentralEurope.Dobrovoln_.2009',
 'Arc-Tornetrask.Melvin.2012',
 'Eur-SpanishPyrenees.Dorado-Linan.2012',
 'Arc-Tjeggelvas.Bjorklund.2012',
 'Eur-Tallinn.Tarand.2001',
 'Arc-PolarUrals.Wilson.2015',
 'Eur-EuropeanAlps.B_ntgen.2011',
 'Eur-LakeSilvaplana.Trachsel.2010',
 'Eur-L_tschental.B_ntgen.2006',
 'Eur-NorthernScandinavia.Esper.2012',
 'Eur-Stockholm.Leijonhufvud.2009',
 'Eur-EasternCarpathianMountains.Popa.2008',
 'Arc-Jamtland.Wilson.2016',
 'Eur-Seebergsee.Larocque-Tobler.2012',
 'Eur-LakeSilvaplana.Larocque-Tobler.2010']

Because `PyLiPD` uses object-oriented programming, we can take advantage of method cascading to create a series of filters. For instance, let's assume that we want all the datasets between 40-70N and 0-90E that are trees. One can write an additional query on top of the location query that we just performed:

In [10]:
D_geotree = D_geo.filter_by_archive_type('tree')

D_geotree.get_all_dataset_names()

['Eur-TatraMountains.B_ntgen.2013',
 'Arc-Forfjorddalen.McCarroll.2013',
 'Eur-MaritimeFrenchAlps.B_ntgen.2012',
 'Arc-Kittelfjall.Bjorklund.2012',
 'Eur-FinnishLakelands.Helama.2014',
 'Eur-SpanishPyrenees.Dorado-Linan.2012',
 'Arc-Tornetrask.Melvin.2012',
 'Arc-Tjeggelvas.Bjorklund.2012',
 'Arc-PolarUrals.Wilson.2015',
 'Eur-EuropeanAlps.B_ntgen.2011',
 'Eur-L_tschental.B_ntgen.2006',
 'Eur-NorthernScandinavia.Esper.2012',
 'Eur-EasternCarpathianMountains.Popa.2008',
 'Arc-Jamtland.Wilson.2016']

Using method cascading, you can write this in a single query:

In [11]:
D_filt = D.filter_by_geo_bbox(lonMin=0, latMin=40, lonMax=90, latMax=70).filter_by_archive_type('tree')

D_filt.get_all_dataset_names()

['Eur-TatraMountains.B_ntgen.2013',
 'Arc-Forfjorddalen.McCarroll.2013',
 'Eur-MaritimeFrenchAlps.B_ntgen.2012',
 'Arc-Kittelfjall.Bjorklund.2012',
 'Eur-FinnishLakelands.Helama.2014',
 'Eur-SpanishPyrenees.Dorado-Linan.2012',
 'Arc-Tornetrask.Melvin.2012',
 'Arc-Tjeggelvas.Bjorklund.2012',
 'Arc-PolarUrals.Wilson.2015',
 'Eur-EuropeanAlps.B_ntgen.2011',
 'Eur-L_tschental.B_ntgen.2006',
 'Eur-NorthernScandinavia.Esper.2012',
 'Eur-EasternCarpathianMountains.Popa.2008',
 'Arc-Jamtland.Wilson.2016']

### Filtering by variable names

Most of the time, we are interested in working with specific variables in a LiPD file. To use filtering capabilities, this requires expanding the `LiPD` object into `LiPDSeries` object, which contains individual variables. You can do by using the following function, applied on her filtered database of tree record from high northern latitude:

In [12]:
ts = D_filt.to_lipd_series()

Creating LiPD Series...
- Extracting dataset subgraphs

100%|████████████████████████████████████████████████████████████| 14/14 [00:00<00:00, 193.45it/s]

- Extracting variable subgraphs

100%|█████████████████████████████████████████████████████████████| 14/14 [00:00<00:00, 14.21it/s]

Done..

Let's have a look at what we have by placing essential metadata into a Pandas DataFrame. This function is the equivalent to `LiPD.get_timeseries_essentials` with slight differences:

In [14]:
df = ts.get_timeseries_essentials()

df.head()

,dataSetName,archiveType,name,TSID,values,units,proxy
0,Arc-Tjeggelvas.Bjorklund.2012,tree,density,Arc_059,"[-0.33782063337638, -0.140244275270133, -0.409...",NA,delta Density
1,Arc-Tjeggelvas.Bjorklund.2012,tree,year,PYTNM1ZY9M4,"[1550.0, 1551.0, 1552.0, 1553.0, 1554.0, 1555....",AD,None
2,Eur-NorthernScandinavia.Esper.2012,tree,MXD,Eur_014,"[0.46, 1.305, 0.755, -0.1, -0.457, 1.62, 0.765...",NA,MXD
3,Eur-NorthernScandinavia.Esper.2012,tree,year,PYTECO66XAD,"[-138.0, -137.0, -136.0, -135.0, -134.0, -133....",AD,None
4,Eur-EasternCarpathianMountains.Popa.2008,tree,trsgi,Eur_016,"[0.869, 0.106, 0.869, 0.281, 0.094, 0.24, -0.3...",NA,TRW

As you can see, the DataFrame contains much of the same information, except for location. This is because that information is stored at the Dataset level in LiPD and is, therefore, attached to the `LiPD` object. But you can merge the data using [Pandas' capabilities](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html). First, let's get the location information:

In [16]:
df_loc = D_filt.get_all_locations()

df_loc.head()

                           dataSetName  geo_meanLat  geo_meanLon  geo_meanElev
0      Eur-TatraMountains.Büntgen.2013        49.00       20.000        1000.0
1     Arc-Forfjorddalen.McCarroll.2013        68.73       15.730         200.0
2  Eur-MaritimeFrenchAlps.Büntgen.2012        44.00        7.500        2100.0
3       Arc-Kittelfjall.Bjorklund.2012        65.20       15.500         550.0
4     Eur-FinnishLakelands.Helama.2014        62.00       28.325         130.0

In [17]:
import pandas as pd

We can use the [`.merge`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) functionality in Pandas to achieve our goal. This functionality is very similar to join in SQL. The main arguments are `how` which defines how the join is achieved and `on` which specifies the column:

`how`: {‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’

* left: use only keys from left frame, similar to a SQL left outer join; preserve key order.
* right: use only keys from right frame, similar to a SQL right outer join; preserve key order.
* outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
* inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.
* cross: creates the cartesian product from both frames, preserves the order of the left keys.

In [20]:
df_merged = df.merge(df_loc,how='inner', on='dataSetName')

df_merged.head()

,dataSetName,archiveType,name,TSID,values,units,proxy,geo_meanLat,geo_meanLon,geo_meanElev
0,Arc-Tjeggelvas.Bjorklund.2012,tree,density,Arc_059,"[-0.33782063337638, -0.140244275270133, -0.409...",NA,delta Density,66.6,17.6,520.0
1,Arc-Tjeggelvas.Bjorklund.2012,tree,year,PYTNM1ZY9M4,"[1550.0, 1551.0, 1552.0, 1553.0, 1554.0, 1555....",AD,None,66.6,17.6,520.0
2,Eur-NorthernScandinavia.Esper.2012,tree,MXD,Eur_014,"[0.46, 1.305, 0.755, -0.1, -0.457, 1.62, 0.765...",NA,MXD,68.0,25.0,300.0
3,Eur-NorthernScandinavia.Esper.2012,tree,year,PYTECO66XAD,"[-138.0, -137.0, -136.0, -135.0, -134.0, -133....",AD,None,68.0,25.0,300.0
4,Eur-EasternCarpathianMountains.Popa.2008,tree,trsgi,Eur_016,"[0.869, 0.106, 0.869, 0.281, 0.094, 0.24, -0.3...",NA,TRW,47.0,25.3,1820.0

The second difference is that the variables representing time are only present as rows, which means that time will need to be associated with the variables. To do so, you can use the filtering capabilities. First, let's filter for `temperature` and `trsgi`:

In [22]:
ts_filter = ts.filter_by_name('(temperature|trsgi)')

df_paleo = ts_filter.get_timeseries_essentials()
df_paleo.head()

7

,dataSetName,archiveType,name,TSID,values,units,proxy
0,Arc-Tornetrask.Melvin.2012,tree,temperature,Arc_012,"[11.757, 9.505, 9.913, 8.95, 11.509, 10.675, 9...",degC,TRW
1,Arc-Tornetrask.Melvin.2012,tree,temperature,Arc_012mxd,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",degC,MXD
2,Eur-EuropeanAlps.B_ntgen.2011,tree,trsgi,Eur_017,"[0.405, 0.395, 1.209, 1.244, -0.101, 0.658, 0....",NA,TRW
3,Eur-FinnishLakelands.Helama.2014,tree,temperature,Eur_005,"[14.603, 14.643, 12.074, 13.898, 13.671, 13.41...",degC,MXD
4,Eur-MaritimeFrenchAlps.B_ntgen.2012,tree,trsgi,Eur_019,"[0.575, 1.094, 0.819, 0.813, 0.752, 1.089, 0.6...",NA,TRW

Our next task is to get all the information regarding time. Let's use method chaining to get the DataFrame directly:

In [23]:
df_time = ts.filter_by_name('year').get_timeseries_essentials()

df_time.head()

14

,dataSetName,archiveType,name,TSID,values,units,proxy
0,Eur-L_tschental.B_ntgen.2006,tree,year,PYTOZB821DI,"[755.0, 756.0, 757.0, 758.0, 759.0, 760.0, 761...",AD,None
1,Eur-TatraMountains.B_ntgen.2013,tree,year,PYTQ1JTP057,"[1040.0, 1041.0, 1042.0, 1043.0, 1044.0, 1045....",AD,None
2,Arc-Tjeggelvas.Bjorklund.2012,tree,year,PYTNM1ZY9M4,"[1550.0, 1551.0, 1552.0, 1553.0, 1554.0, 1555....",AD,None
3,Eur-FinnishLakelands.Helama.2014,tree,year,PYTUSB62S0A,"[2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995....",AD,None
4,Eur-MaritimeFrenchAlps.B_ntgen.2012,tree,year,PYTAQC8W7JI,"[969.0, 970.0, 971.0, 972.0, 973.0, 974.0, 975...",AD,None

Now, we can use Pandas to merge the two DataFrames. In this case, we would expect that the DataFrame containing the time information would have more datasets associated with them (since not all datasets have a temoerature or trsgi value). Therefore, we want to perform a left join, dropping the unnecessary age information:

In [25]:
df_filt_merge=df_paleo.merge(df_time,how='left',on='dataSetName')

df_filt_merge

,dataSetName,archiveType_x,name_x,TSID_x,values_x,units_x,proxy_x,archiveType_y,name_y,TSID_y,values_y,units_y,proxy_y
0,Arc-Tornetrask.Melvin.2012,tree,temperature,Arc_012,"[11.757, 9.505, 9.913, 8.95, 11.509, 10.675, 9...",degC,TRW,tree,year,PYTVDYC36EJ,"[-39.0, -38.0, -37.0, -36.0, -35.0, -34.0, -33...",AD,None
1,Arc-Tornetrask.Melvin.2012,tree,temperature,Arc_012mxd,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",degC,MXD,tree,year,PYTVDYC36EJ,"[-39.0, -38.0, -37.0, -36.0, -35.0, -34.0, -33...",AD,None
2,Eur-EuropeanAlps.B_ntgen.2011,tree,trsgi,Eur_017,"[0.405, 0.395, 1.209, 1.244, -0.101, 0.658, 0....",NA,TRW,tree,year,PYTZASMDVCX,"[-500.0, -499.0, -498.0, -497.0, -496.0, -495....",AD,None
3,Eur-FinnishLakelands.Helama.2014,tree,temperature,Eur_005,"[14.603, 14.643, 12.074, 13.898, 13.671, 13.41...",degC,MXD,tree,year,PYTUSB62S0A,"[2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995....",AD,None
4,Eur-MaritimeFrenchAlps.B_ntgen.2012,tree,trsgi,Eur_019,"[0.575, 1.094, 0.819, 0.813, 0.752, 1.089, 0.6...",NA,TRW,tree,year,PYTAQC8W7JI,"[969.0, 970.0, 971.0, 972.0, 973.0, 974.0, 975...",AD,None
5,Eur-EasternCarpathianMountains.Popa.2008,tree,trsgi,Eur_016,"[0.869, 0.106, 0.869, 0.281, 0.094, 0.24, -0.3...",NA,TRW,tree,year,PYTL34KH163,"[1163.0, 1164.0, 1165.0, 1166.0, 1167.0, 1168....",AD,None
6,Eur-TatraMountains.B_ntgen.2013,tree,trsgi,Eur_015,"[-0.93, -0.369, -0.927, -1.236, -1.125, -0.502...",NA,TRW,tree,year,PYTQ1JTP057,"[1040.0, 1041.0, 1042.0, 1043.0, 1044.0, 1045....",AD,None
7,Eur-SpanishPyrenees.Dorado-Linan.2012,tree,trsgi,Eur_020,"[-1.612, -0.703, -0.36, -0.767, -0.601, -0.733...",NA,TRW,tree,year,PYT2K8MIA3N,"[1260.0, 1261.0, 1262.0, 1263.0, 1264.0, 1265....",AD,None

Notice the Pandas automatically changed the names of the columns to accomodate the fact that both our DataFrames had the same column names. Now let's add the location information with another left join:

In [26]:
df_filt_merge_loc=df_filt_merge.merge(df_loc,how='left',on='dataSetName')

df_filt_merge_loc.head()

,dataSetName,archiveType_x,name_x,TSID_x,values_x,units_x,proxy_x,archiveType_y,name_y,TSID_y,values_y,units_y,proxy_y,geo_meanLat,geo_meanLon,geo_meanElev
0,Arc-Tornetrask.Melvin.2012,tree,temperature,Arc_012,"[11.757, 9.505, 9.913, 8.95, 11.509, 10.675, 9...",degC,TRW,tree,year,PYTVDYC36EJ,"[-39.0, -38.0, -37.0, -36.0, -35.0, -34.0, -33...",AD,None,68.26,19.600,320.0
1,Arc-Tornetrask.Melvin.2012,tree,temperature,Arc_012mxd,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",degC,MXD,tree,year,PYTVDYC36EJ,"[-39.0, -38.0, -37.0, -36.0, -35.0, -34.0, -33...",AD,None,68.26,19.600,320.0
2,Eur-EuropeanAlps.B_ntgen.2011,tree,trsgi,Eur_017,"[0.405, 0.395, 1.209, 1.244, -0.101, 0.658, 0....",NA,TRW,tree,year,PYTZASMDVCX,"[-500.0, -499.0, -498.0, -497.0, -496.0, -495....",AD,None,NaN,NaN,NaN
3,Eur-FinnishLakelands.Helama.2014,tree,temperature,Eur_005,"[14.603, 14.643, 12.074, 13.898, 13.671, 13.41...",degC,MXD,tree,year,PYTUSB62S0A,"[2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995....",AD,None,62.00,28.325,130.0
4,Eur-MaritimeFrenchAlps.B_ntgen.2012,tree,trsgi,Eur_019,"[0.575, 1.094, 0.819, 0.813, 0.752, 1.089, 0.6...",NA,TRW,tree,year,PYTAQC8W7JI,"[969.0, 970.0, 971.0, 972.0, 973.0, 974.0, 975...",AD,None,NaN,NaN,NaN