# Retrieving textual information from LiPD files

## Authors

[Deborah Khider](https://orcid.org/0000-0001-7501-8430)

## Preamble

`PyLiPD` is a Python package that allows you to read, manipulate, and write [LiPD](https://doi.org/10.5194/cp-12-1093-2016) formatted datasets. In this tutorial, we will demonstrate how you can use pre-defined APIs that allows getting specific information from a LiPD file. 

### Goals

* Use existing APIs to get information about the datasets loaded in the workspace, their location, the variables available, the types of geologic archives.
* Obtain a BibTeX file of references to properly credit scholarly contributions

Reading Time: 5 minutes

### Keywords

LiPD

### Pre-requisites

None. This tutorial assumes basic knowledge of Python and Pandas. If you are not familiar with this coding language and this particular library, check out this tutorial: http://linked.earth/ec_workshops_py/.

### Relevant Packages

pylipd

## Data Description

This notebook uses the following datasets, in LiPD format:

- McCabe-Glynn, S., Johnson, K., Strong, C. et al. Variable North Pacific influence on drought in southwestern North America since AD 854. Nature Geosci 6, 617–621 (2013). https://doi.org/10.1038/ngeo1862

- Lawrence, K. T., Liu, Z. H., & Herbert, T. D. (2006). Evolution of the eastern tropical Pacific through Plio-Pleistocne glaciation. Science, 312(5770), 79-83.

- PAGES2k Consortium., Emile-Geay, J., McKay, N. et al. A global multiproxy database for temperature reconstructions of the Common Era. Sci Data 4, 170088 (2017). doi:10.1038/sdata.2017.88

## Demonstration

### Extracting infomation about the content of a LiPD object

Let's start by importing our favorite package and load our datasets.

In [1]:
from pylipd.lipd import LiPD

Let's load some diverse datasets to highlight to capabilities:

In [2]:
path = '../data/Pages2k/'

D = LiPD()
D.load_from_dir(path)

Loading 16 LiPD files

100%|██████████████████████████████████████████| 16/16 [00:00<00:00, 136.57it/s]

Loaded..

In [3]:
data_path = ['../data/Crystal.McCabe-Glynn.2013.lpd', '../data/ODP846.Lawrence.2006.lpd', 'https://lipdverse.org/data/iso2k100_CO06MOPE/1_0_2//CO06MOPE.lpd']

D.load(data_path)

Loading 3 LiPD files

100%|█████████████████████████████████████████████| 3/3 [00:00<00:00,  3.74it/s]

Loaded..

### Getting information about Datasets

From the introductory notebooks on [loading LiPD datasets](L0_loading_lipd_datasets.md) and [working with `LiPD` objects](L0_lipd_object.md), you should be already familiar with the functions to get all the names of the datasets.

In [4]:
D.get_all_dataset_names()

['Ocn-RedSea.Felis.2000',
 'Ant-WAIS-Divide.Severinghaus.2012',
 'Asi-SourthAndMiddleUrals.Demezhko.2007',
 'Ocn-AlboranSea436B.Nieto-Moreno.2013',
 'Eur-SpannagelCave.Mangini.2005',
 'Ocn-FeniDrift.Richter.2009',
 'Eur-LakeSilvaplana.Trachsel.2010',
 'Ocn-PedradeLume-CapeVerdeIslands.Moses.2006',
 'Ocn-SinaiPeninsula_RedSea.Moustafa.2000',
 'Eur-NorthernSpain.Martin-Chivelet.2011',
 'Arc-Kongressvatnet.D_Andrea.2012',
 'Eur-CoastofPortugal.Abrantes.2011',
 'Eur-SpanishPyrenees.Dorado-Linan.2012',
 'Eur-FinnishLakelands.Helama.2014',
 'Eur-NorthernScandinavia.Esper.2012',
 'Eur-Stockholm.Leijonhufvud.2009',
 'Crystal.McCabe-Glynn.2013',
 'ODP846.Lawrence.2006',
 'CO06MOPE']

In [5]:
len(D.get_all_dataset_names())

19

In fact, this function has been used throughout these notebooks to be able to extract other types of information. Another equivalent function returns all the `datasetIDs`. `datasetIDs` are unique identifiers for each LiPD dataset. This notion was introduced as the name may not be unique enough for unique identification. All datasets from the `LiPDGraph` will have an ID but it is not mandatory.

In [6]:
D.get_all_dataset_ids()

['4fZQAHmeuJn8ipLfurWv',
 '5oHqINxYpL0XCaLcIjhR',
 'mE7P31hoHDXy1Q9yfQlq',
 'fYUegig785BJMl3NrZcz',
 '19nwWA48PSW3uSoDRiA4',
 'IVVTVphliHduuTjQhlTM',
 '23GDZxTEJsBQAH05hU4g',
 'HH7jd52QFWaBgs9OvMqP',
 'wH1adV7y36OC0h3kwDRF',
 'WX0GIjmoc46FH1Oj4c5r',
 'pwY7bQRstXsZc6iOpgRI',
 '33wLrOlZRR8hw53DVKSr',
 'PPWjMBBkRAcCv6bkL58K',
 'ZDMEZiVVO4eFNwBA4D3o',
 'fyUORoSbcL0GP0J3wyoj',
 'uOhCAmcuPO5Xo9rSniHn',
 'iso2k100_CO06MOPE']

In [7]:
len(D.get_all_dataset_ids())

17

Notice that the function returned only 17 items (2 less than the dataset names). The reason is these files were created before datasetIDs were prevalent on the Lipdverse. 

<div class="alert alert-success">
<b>Note:</b> `datasetIDs` will be used in future versions of `PyLiPD` to directly query the LiPDverse, without the need to pass the direct URL.
</div>

Another function that allows to look up information stored at the dataset level is `get_all_archiveTypes`. This one works a little bit differently than the previous functions in that it will only return the unique names present in these datasets:

In [8]:
D.get_all_archiveTypes()

['Coral',
 'Borehole',
 'Marine sediment',
 'Speleothem',
 'Lake sediment',
 'Wood',
 'Documents']

This function is particularly useful to know what terms can be used to [filter with specific queries](L1_filtering.md). You can see that `coral` appears with two different capitalizations. For filtering, this won't matter as we will see in the next [tutorial](L1_filtering.md).

You can get information about the location of each dataset as follows:

In [9]:
df_loc = D.get_all_locations()

df_loc

,dataSetName,geo_meanLat,geo_meanLon,geo_meanElev
0,Ocn-RedSea.Felis.2000,27.8500,34.3200,-6.0
1,Ant-WAIS-Divide.Severinghaus.2012,-79.4630,-112.1250,1766.0
2,Asi-SourthAndMiddleUrals.Demezhko.2007,55.0000,59.5000,1900.0
3,Ocn-AlboranSea436B.Nieto-Moreno.2013,36.2053,-4.3133,-1108.0
4,Eur-SpannagelCave.Mangini.2005,47.1000,11.6000,2347.0
5,Ocn-FeniDrift.Richter.2009,55.5000,-13.9000,-2543.0
6,Eur-LakeSilvaplana.Trachsel.2010,46.5000,9.8000,1791.0
7,Ocn-PedradeLume-CapeVerdeIslands.Moses.2006,16.7600,-22.8883,-5.0
8,"Ocn-SinaiPeninsula,RedSea.Moustafa.2000",27.8483,34.3100,-3.0
9,Eur-NorthernSpain.Martin-Chivelet.2011,42.9000,-3.5000,1250.0
10,Arc-Kongressvatnet.D'Andrea.2012,78.0217,13.9311,94.0
11,Eur-CoastofPortugal.Abrantes.2011,41.1000,-8.9000,-80.0
12,Eur-SpanishPyrenees.Dorado-Linan.2012,42.5000,1.0000,1200.0
13,Eur-FinnishLakelands.Helama.2014,62.0000,28.3250,130.0
14,Eur-NorthernScandinavia.Esper.2012,68.0000,25.0000,300.0
15,Eur-Stockholm.Leijonhufvud.2009,59.3200,18.0600,10.0
16,Crystal.McCabe-Glynn.2013,36.5900,-118.8200,1386.0
17,ODP846.Lawrence.2006,-3.1000,-90.8000,-3296.0
18,CO06MOPE,16.7500,-22.8883,-5.0

### Getting information about variables

To get information about available variable names, you can do the following:

In [9]:
D.get_all_variable_names()

['d18O',
 'year',
 'uncertainty_temperature',
 'temperature',
 'depth_top',
 'depth_bottom',
 'Mg_Ca',
 'notes',
 'Uk37',
 'trsgi',
 'MXD',
 'depth_dating',
 '230th/238u_uncertainty',
 '238u_uncertainty',
 '232th',
 'd234u_undertainty',
 '230th/232th_uncertainty',
 'depth',
 '230th/232th',
 'd234u',
 '238u',
 '230th/238u',
 '230th age_uncertainty',
 'd234uinitial_uncertainty',
 'Year',
 'd234uinitial',
 'sample',
 'corr_age_uncert',
 'corr_age',
 '230th age',
 '230th age_uncertaity',
 '232th_uncertainty',
 'age',
 'd18o',
 'median',
 'site/hole',
 'sample label',
 'temp prahl',
 'lower95',
 'c37 total',
 'u. peregrina d18o',
 'c. wuellerstorfi d13c',
 'section',
 'd180',
 'u. peregrina d13c',
 'event',
 'temp muller',
 'c. wuellerstorfi d18o',
 'depth cr',
 'depth comp',
 'ukprime37',
 'sst',
 'upper95',
 'interval']

Note that like the functions retrieving the various `archiveTypes`, this function also only returns the unique names. As we have explored [previously](L0_lipd_object.ipynb), the Euro2k database contains more than one record correspoonding to `temperature`. Again, this function can be used to figure out what to filter by.

If you want to have more granularity about which variable is available in which datasets and their associated unique IDs, you can use the following function:

In [10]:
D.get_all_variables()

,uri,TSID,variableName
0,http://linked.earth/lipd/Ocn-RedSea.Felis.2000...,Ocean2kHR_019,d18O
1,http://linked.earth/lipd/Eur-SpannagelCave.Man...,Eur_001,d18O
2,http://linked.earth/lipd/Ocn-PedradeLume-CapeV...,Ocean2kHR_107,d18O
3,http://linked.earth/lipd/Ocn-SinaiPeninsula_Re...,Ocean2kHR_018,d18O
4,http://linked.earth/lipd/Eur-NorthernSpain.Mar...,Eur_008,d18O
...,...,...,...
93,http://linked.earth/lipd/paleo0measurement1.PY...,PYTPQ0FJO1S,depth comp
94,http://linked.earth/lipd/paleo0measurement0.PY...,PYTM9N6HCQM,ukprime37
95,http://linked.earth/lipd/paleo0model0ensemble0...,PYTDW6AIJPW,sst
96,http://linked.earth/lipd/chron0model0summary0....,PYTDIEKUM44,upper95
97,http://linked.earth/lipd/paleo0measurement0.PY...,PYT2ZB6MLZ9,interval

### Get a bibliography

`pylipd` makes is easy to retrieve the publication information from the subset of records you used and export this to a `.bib` file:

In [11]:
bibs, df = D.get_bibtex(remote = True, save = True, path = '../data/mybiblio.bib', verbose = False)

Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (http://nbn-resolving.de/urn:nbn:de:gbv:46-ep000102745), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually
Cannot find a matching record for the provided DOI (None), creating the entry manually

Let's decompose the parameters for this [function](https://pylipd.readthedocs.io/en/latest/source/pylipd.html#pylipd.lipd.LiPD.get_bibtex):

* `remote`: If set to True, `PyLipd` will use the `crossref` function in the [`doi2bib`](https://pypi.org/project/doi2bib/) package to retrieve the bilbiography. You can only use this option online. If the retrieval fails, the entry will be created from the information in the LiPD file. If set to False, only the information in the file will be used.
* `save`, `path`: If `save` is set to True, `PyliPD` will save the entries in a `.bib` file. In this example, we saved the file to the data folder contained in this repository.
* `verbose` if set to True, the bibliography will print on the screen.

In addition to saving the file, the function returns `bibs`, a list of text bliography and `df`, which presents the information in a `Pandas DataFrame`.

In [12]:
df.head()

,dsname,title,authors,doi,pubyear,year,journal,volume,issue,pages,type,publisher,report,citeKey,edition,institution,url,url2
0,Ocn-RedSea.Felis.2000,A coral oxygen isotope record from the norther...,Ahmed H. Nawar and Gerold Wefer and Thomas Fel...,10.1029/1999PA000477,None,2000.0,Paleoceanography,15,6.0,679-694,article,Wiley-Blackwell,None,felis2000acoraloxygenisotoperecord,None,None,None,None
1,Ocn-RedSea.Felis.2000,Tropical sea surface temperatures for the past...,Jessica E. Tierney and Kevin J. Anchukaitis an...,10.1002/2014PA002717,None,2015.0,Paleoceanography,30,3.0,226-252,journal-article,Wiley-Blackwell,None,tierney2015tropicalseasurfacetempera,None,None,None,None
2,Ocn-RedSea.Felis.2000,World Data Center for Paleoclimatology,T. Felis,None,None,NaN,None,None,None,None,dataCitation,None,None,felis2000httpswwwncdcnoaagovpaleostudy1861Data...,None,World Data Center for Paleoclimatology,None,https://www.ncdc.noaa.gov/paleo/study/1861
3,Ant-WAIS-Divide.Severinghaus.2012,This study,Severinghaus J.,None,None,NaN,None,None,None,None,dataCitation,None,None,severinghaus0thisstudyDataCitation,None,None,None,This study
4,Ant-WAIS-Divide.Severinghaus.2012,Little Ice Age cold interval in West Antarctic...,Anais J. Orsi and Bruce D. Cornuelle and Jeffr...,10.1029/2012GL051260,None,2012.0,Geophysical Research Letters,39,9.0,L09710,article,Wiley-Blackwell,None,orsi2012littleiceagecoldintervali,None,None,None,None