# Basic manipulation of `pylipd.LiPD` objects

## Authors

by [Deborah Khider](https://orcid.org/0000-0001-7501-8430)

## Preamble

### Goals:

* Extract a LiPD time series for analysis
* Remove/pop LiPD datasets from an existing `LiPD` object

Reading Time: 5 minutes

### Keywords

LiPD; query

### Pre-requisites

None. This tutorial assumes basic knowledge of Python and Pandas. If you are not familiar with this coding language and the Pandas library, check out this tutorial: http://linked.earth/ec_workshops_py/.

### Relevant Packages

Pandas, pylipd

## Data Description

This notebook uses the following datasets, in LiPD format:

* Nurhati, I. S., Cobb, K. M., & Di Lorenzo, E. (2011). Decadal-scale SST and salinity variations in the central tropical Pacific: Signatures of natural and anthropogenic climate change. Journal of Climate, 24(13), 3294–3308. doi:10.1175/2011jcli3852.1

* PAGES2k Consortium (2017): A global multiproxy database for temperature reconstructions of the Common Era. Sci Data 4, 170088. doi:10.1038/sdata.2017.88

In [1]:
from pylipd.lipd import LiPD

## Demonstration

### Extract time series data from LiPD formatted datasets

If you are famliar with the [R utilities](https://nickmckay.github.io/lipdR/), one useful functions is the ability to expand "timeseries" structures. This capability was also present in the previous iteration of the Python utilities and `PyLiPD` retains this compatbility to ease the transition. 

If you're unsure about what a "timeseries" is in the LiPD context, [read this page](https://nickmckay.github.io/lipdR/#helptimeseries). 

#### Working with one dataset

First, let's load a single dataset:

In [2]:
data_path = '../data/Ocn-Palmyra.Nurhati.2011.lpd'
D = LiPD()
D.load(data_path)

Loading 1 LiPD files

100%|██████████| 1/1 [00:00<00:00, 10.37it/s]

Loaded..

Now let's get all the timeseries for this dataset. Note that the [`get_timeseries`](https://pylipd.readthedocs.io/en/latest/source/pylipd.html#pylipd.lipd.LiPD.get_timeseries) function requires to pass the dataset names. This is useful if you only want to expand only one dataset from your LiPD object. You can also use the function [`get_all_dataset_names`](https://pylipd.readthedocs.io/en/latest/source/pylipd.html#pylipd.lipd.LiPD.get_all_dataset_names) in the call to expand all datasets:

In [3]:
ts_list = D.get_timeseries(D.get_all_dataset_names())

type(ts_list)

Extracting timeseries from dataset: Ocn-Palmyra.Nurhati.2011 ...

dict

Note that the above function returns a dictionary that organizes the extracted timeseries by dataset name:

In [4]:
ts_list.keys()

dict_keys(['Ocn-Palmyra.Nurhati.2011'])

Each timeseries is then stored into a list of dictionaries that preserve essential metadata for each time/depth and value pair:

In [5]:
type(ts_list['Ocn-Palmyra.Nurhati.2011'])

list

Although the information is present, it is not easy to navigate or query across the various list. One simple way of doing so is to return the list into a [`Pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html):

In [6]:
ts_list, df = D.get_timeseries(D.get_all_dataset_names(), to_dataframe=True)

df

Extracting timeseries from dataset: Ocn-Palmyra.Nurhati.2011 ...

,mode,time_id,originalDataURL,createdBy,googleSpreadSheetKey,dataSetName,pub1_author,pub1_url,pub1_citeKey,pub1_urldate,...,paleoData_description,paleoData_inferredVariableType,paleoData_dataType,paleoData_notes,paleoData_ocean2kID,paleoData_pages2kID,paleoData_interpretation,paleoData_inCompilation,paleoData_iso2kUI,paleoData_qCCertification
0,paleoData,age,http://hurricane.ncdc.noaa.gov/pls/paleox/f?p=...,matlab,1AIFOcqDtbZ5O4YCCnH5K-lNdzmI1UNmGnUpCJFNN-YQ,Ocn-Palmyra.Nurhati.2011,I.S. Nurhati,https://www.ncdc.noaa.gov/paleo/study/8609,nurhati2010httpswwwncdcnoaagovpaleostudy8609Da...,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,paleoData,age,http://hurricane.ncdc.noaa.gov/pls/paleox/f?p=...,matlab,1AIFOcqDtbZ5O4YCCnH5K-lNdzmI1UNmGnUpCJFNN-YQ,Ocn-Palmyra.Nurhati.2011,I.S. Nurhati,https://www.ncdc.noaa.gov/paleo/study/8609,nurhati2010httpswwwncdcnoaagovpaleostudy8609Da...,2010.0,...,Year AD,Year,float,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,paleoData,age,http://hurricane.ncdc.noaa.gov/pls/paleox/f?p=...,matlab,1AIFOcqDtbZ5O4YCCnH5K-lNdzmI1UNmGnUpCJFNN-YQ,Ocn-Palmyra.Nurhati.2011,I.S. Nurhati,https://www.ncdc.noaa.gov/paleo/study/8609,nurhati2010httpswwwncdcnoaagovpaleostudy8609Da...,2010.0,...,Year AD,Year,float,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,paleoData,age,http://hurricane.ncdc.noaa.gov/pls/paleox/f?p=...,matlab,1AIFOcqDtbZ5O4YCCnH5K-lNdzmI1UNmGnUpCJFNN-YQ,Ocn-Palmyra.Nurhati.2011,I.S. Nurhati,https://www.ncdc.noaa.gov/paleo/study/8609,nurhati2010httpswwwncdcnoaagovpaleostudy8609Da...,2010.0,...,NaN,NaN,NaN,; paleoData_variableName changed - was origina...,PacificNurhati2011,Ocn_129,"[{'scope': 'climate', 'seasonality': 'N/A (sub...",Ocean2k_v1.0.0,CO11NUPM01BT1,"MNE, NJA"
4,paleoData,age,http://hurricane.ncdc.noaa.gov/pls/paleox/f?p=...,matlab,1AIFOcqDtbZ5O4YCCnH5K-lNdzmI1UNmGnUpCJFNN-YQ,Ocn-Palmyra.Nurhati.2011,I.S. Nurhati,https://www.ncdc.noaa.gov/paleo/study/8609,nurhati2010httpswwwncdcnoaagovpaleostudy8609Da...,2010.0,...,NaN,NaN,NaN,; climateInterpretation_seasonality changed - ...,NaN,NaN,"[{'scope': 'climate', 'interpDirection': 'nega...",NaN,CO11NUPM01B,"MNE, NJA"

You can now use all the pandas functionalities for filtering and querying dataframes. First, let's have a look at the available properties, which corresponds to the column headers:

In [7]:
df.columns

Index(['mode', 'time_id', 'originalDataURL', 'createdBy',
       'googleSpreadSheetKey', 'dataSetName', 'pub1_author', 'pub1_url',
       'pub1_citeKey', 'pub1_urldate', 'pub1_institution', 'pub1_title',
       'pub1_DOI', 'pub2_author', 'pub2_title', 'pub2_link', 'pub2_year',
       'pub2_publisher', 'pub2_journal', 'pub2_dataUrl', 'pub2_pages',
       'pub2_doi', 'pub2_volume', 'pub2_citeKey', 'pub2_DOI', 'pub3_author',
       'pub3_citeKey', 'pub3_link', 'pub3_dataUrl', 'pub3_journal',
       'pub3_title', 'pub3_issue', 'pub3_pages', 'pub3_publisher',
       'pub3_volume', 'pub3_doi', 'pub3_year', 'pub3_DOI', 'geo_meanLon',
       'geo_meanLat', 'geo_meanElev', 'geo_type', 'geo_ocean', 'geo_siteName',
       'geo_pages2kRegion', 'googleDataURL', 'googleMetadataWorksheet',
       'hasUrl', 'studyName', 'lipdVersion', 'dataContributor', 'archiveType',
       'tableType', 'paleoData_googleWorkSheetKey',
       'paleoData_paleoDataTableName', 'paleoData_measurementTableMD5',
       'paleoData_measurementTableName', 'paleoData_filename', 'year',
       'yearUnits', 'paleoData_proxy',
       'paleoData_useInGlobalTemperatureAnalysis', 'paleoData_units',
       'paleoData_number', 'paleoData_hasMaxValue', 'paleoData_sensorGenus',
       'paleoData_wDSPaleoUrl', 'paleoData_hasMinValue', 'paleoData_qCnotes',
       'paleoData_hasMeanValue', 'paleoData_sensorSpecies',
       'paleoData_missingValue', 'paleoData_TSid', 'paleoData_hasMedianValue',
       'paleoData_proxyObservationType', 'paleoData_variableName',
       'paleoData_hasResolution_hasMedianValue',
       'paleoData_hasResolution_units', 'paleoData_hasResolution_hasMinValue',
       'paleoData_hasResolution_hasMeanValue',
       'paleoData_hasResolution_hasMaxValue', 'paleoData_variableType',
       'paleoData_values', 'paleoData_description',
       'paleoData_inferredVariableType', 'paleoData_dataType',
       'paleoData_notes', 'paleoData_ocean2kID', 'paleoData_pages2kID',
       'paleoData_interpretation', 'paleoData_inCompilation',
       'paleoData_iso2kUI', 'paleoData_qCCertification'],
      dtype='object')

Let's have a look at the `paleoData_variableName` column to see what's available:

In [8]:
df['paleoData_variableName']

0     d18O
1     year
2     year
3    Sr_Ca
4     d18O
Name: paleoData_variableName, dtype: object

All columns get extracted, hence why `year` is extracted as a paleo variable, with its associated values stored in `paleoData_values`. Notice that there is also two variables names `d18O`. Since this is a coral record, it stands to reason that one corresponds to the measured $\delta^{18}O$ of the coral and the other the $\delta^{18}O$ of the seawater. Let's have a look at the `qCnotes` field:

In [9]:
df[['paleoData_variableName','paleoData_qCnotes']]

  paleoData_variableName                                  paleoData_qCnotes
0                   d18O  d18Osw (residuals calculated from coupled SrCa...
1                   year                                                NaN
2                   year                                                NaN
3                  Sr_Ca                                                NaN
4                   d18O  Duplicate of modern d18O record presented in C...

In fact, one is for the measurement on the coral and the other for seawater. Querying on this small dataset is not necessary; however, it can become useful when looking at a collection of files as shown in the next example (working with multiple datasets). 

To extract by row index (here extracting for `Sr_Ca`):

In [10]:
df_cut = df.iloc[3,:]

df_cut

mode                                                                 paleoData
time_id                                                                    age
originalDataURL              http://hurricane.ncdc.noaa.gov/pls/paleox/f?p=...
createdBy                                                               matlab
googleSpreadSheetKey              1AIFOcqDtbZ5O4YCCnH5K-lNdzmI1UNmGnUpCJFNN-YQ
                                                   ...
paleoData_pages2kID                                                    Ocn_129
paleoData_interpretation     [{'scope': 'climate', 'seasonality': 'N/A (sub...
paleoData_inCompilation                                         Ocean2k_v1.0.0
paleoData_iso2kUI                                                CO11NUPM01BT1
paleoData_qCCertification                                             MNE, NJA
Name: 3, Length: 93, dtype: object

In [11]:
df_cut['paleoData_variableName']

'Sr_Ca'

This can be very useful when working with the [`Pyleoclim`](https://pyleoclim-util.readthedocs.io/en/master/) software since a `Pyleoclim.Series` can be initialized from the information contained in `df_cut`. Working with `PyLiPD` and `Pyleoclim` is the subject of [several tutorials](http://linked.earth/PyleoTutorials/intro.html).

Working with such a large dataframe can be overwhelming and not needed in some cases. Therefore, `PyLiPD` has a nifty function called `get_timeseries_essentials` that grabs information about the dataset, its geographical location, the time/depth values, the variable information, including archive and proxy:

In [12]:
df_essential = D.get_timeseries_essentials()

df_essential

,dataSetName,archiveType,geo_meanLat,geo_meanLon,geo_meanElev,paleoData_variableName,paleoData_values,paleoData_units,paleoData_proxy,paleoData_proxyGeneral,time_variableName,time_values,time_units,depth_variableName,depth_values,depth_units
0,Ocn-Palmyra.Nurhati.2011,coral,5.87,-162.13,-10.0,d18O,"[-5.41, -5.47, -5.49, -5.43, -5.48, -5.53, -5....",permil,d18O,None,year,"[1998.29, 1998.21, 1998.13, 1998.04, 1997.96, ...",AD,None,None,None
1,Ocn-Palmyra.Nurhati.2011,coral,5.87,-162.13,-10.0,d18O,"[0.39, 0.35, 0.35, 0.35, 0.36, 0.22, 0.33, 0.3...",permil,d18O,None,year,"[1998.21, 1998.13, 1998.04, 1997.96, 1997.88, ...",AD,None,None,None
2,Ocn-Palmyra.Nurhati.2011,coral,5.87,-162.13,-10.0,Sr_Ca,"[8.96, 8.9, 8.91, 8.94, 8.92, 8.89, 8.87, 8.81...",mmol/mol,Sr/Ca,None,year,"[1998.29, 1998.21, 1998.13, 1998.04, 1997.96, ...",AD,None,None,None

The metadata (i.e., the column names) available through this function will always remain the same and are as follows:

In [13]:
df_essential.columns

Index(['dataSetName', 'archiveType', 'geo_meanLat', 'geo_meanLon',
       'geo_meanElev', 'paleoData_variableName', 'paleoData_values',
       'paleoData_units', 'paleoData_proxy', 'paleoData_proxyGeneral',
       'time_variableName', 'time_values', 'time_units', 'depth_variableName',
       'depth_values', 'depth_units'],
      dtype='object')

#### Working with multiple datasets

In [14]:
path = '../data/Pages2k/'

D_dir = LiPD()
D_dir.load_from_dir(path)

Loading 16 LiPD files

100%|██████████| 16/16 [00:00<00:00, 38.58it/s]

Loaded..

Let's expand into our essential dataframe:

In [15]:
df_dir = D_dir.get_timeseries_essentials()

Let's have a look at the dataframe:

In [16]:
df_dir.head()

,dataSetName,archiveType,geo_meanLat,geo_meanLon,geo_meanElev,paleoData_variableName,paleoData_values,paleoData_units,paleoData_proxy,paleoData_proxyGeneral,time_variableName,time_values,time_units,depth_variableName,depth_values,depth_units
0,Ocn-RedSea.Felis.2000,coral,27.8500,34.3200,-6.0,d18O,"[-4.12, -3.82, -3.05, -3.02, -3.62, -3.96, -3....",permil,d18O,None,year,"[1995.583, 1995.417, 1995.25, 1995.083, 1994.9...",AD,None,None,None
1,Ant-WAIS-Divide.Severinghaus.2012,borehole,-79.4630,-112.1250,1766.0,temperature,"[-29.607, -29.607, -29.606, -29.606, -29.605, ...",degC,borehole,None,year,"[8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0,...",AD,None,None,None
2,Ant-WAIS-Divide.Severinghaus.2012,borehole,-79.4630,-112.1250,1766.0,uncertainty_temperature,"[1.327, 1.328, 1.328, 1.329, 1.33, 1.33, 1.331...",degC,None,None,year,"[8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0,...",AD,None,None,None
3,Asi-SourthAndMiddleUrals.Demezhko.2007,borehole,55.0000,59.5000,1900.0,temperature,"[0.166, 0.264, 0.354, 0.447, 0.538, 0.62, 0.68...",degC,borehole,None,year,"[800.0, 850.0, 900.0, 950.0, 1000.0, 1050.0, 1...",AD,None,None,None
4,Ocn-AlboranSea436B.Nieto-Moreno.2013,marine sediment,36.2053,-4.3133,-1108.0,temperature,"[18.79, 19.38, 19.61, 18.88, 18.74, 19.25, 18....",degC,alkenone,None,year,"[1999.07, 1993.12, 1987.17, 1975.26, 1963.36, ...",AD,None,None,None

The size of this dataframe is:

In [17]:
df_dir.shape

(25, 16)

So we expanded into 25 timeseries.

Let's have a look at the available variables:

In [18]:
df_dir['paleoData_variableName'].unique()

array(['d18O', 'temperature', 'uncertainty_temperature', 'Mg_Ca.Mg/Ca',
       'notes', 'Uk37', 'trsgi', 'MXD'], dtype=object)

Let's assume we are only interested in the temperature data:

In [19]:
df_temp = df_dir[df_dir['paleoData_variableName']=='temperature']
df_temp.head()

,dataSetName,archiveType,geo_meanLat,geo_meanLon,geo_meanElev,paleoData_variableName,paleoData_values,paleoData_units,paleoData_proxy,paleoData_proxyGeneral,time_variableName,time_values,time_units,depth_variableName,depth_values,depth_units
1,Ant-WAIS-Divide.Severinghaus.2012,borehole,-79.4630,-112.1250,1766.0,temperature,"[-29.607, -29.607, -29.606, -29.606, -29.605, ...",degC,borehole,None,year,"[8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0,...",AD,None,None,None
3,Asi-SourthAndMiddleUrals.Demezhko.2007,borehole,55.0000,59.5000,1900.0,temperature,"[0.166, 0.264, 0.354, 0.447, 0.538, 0.62, 0.68...",degC,borehole,None,year,"[800.0, 850.0, 900.0, 950.0, 1000.0, 1050.0, 1...",AD,None,None,None
4,Ocn-AlboranSea436B.Nieto-Moreno.2013,marine sediment,36.2053,-4.3133,-1108.0,temperature,"[18.79, 19.38, 19.61, 18.88, 18.74, 19.25, 18....",degC,alkenone,None,year,"[1999.07, 1993.12, 1987.17, 1975.26, 1963.36, ...",AD,None,None,None
6,Ocn-FeniDrift.Richter.2009,marine sediment,55.5000,-13.9000,-2543.0,temperature,"[12.94, 10.99, 10.53, 10.44, 11.39, 13.38, 10....",degC,foram Mg/Ca,None,year,"[1998.0, 1987.0, 1975.0, 1962.0, 1949.0, 1936....",AD,None,None,None
8,Ocn-FeniDrift.Richter.2009,marine sediment,55.5000,-13.9000,-2543.0,temperature,"[12.94, 10.99, 10.53, 10.44, 11.39, 13.38, 10....",degC,None,None,year,"[1998.0, 1987.0, 1975.0, 1962.0, 1949.0, 1936....",AD,depth_top,"[0.5, 1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, ...",cm

In [20]:
df_temp.shape

(11, 16)

which leaves us with 11 timeseries.

Let's assume that you want everything that is not related to time, depth, and uncertainty. To keep the rows that are relevant to our problem, you can use the [`DataFrame.query`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html) function available in Pandas:

In [21]:
df_filt = df_dir.query("paleoData_variableName in ('temperature','MXD','Mg_Ca.Mg/Ca','d18O','trsgi', 'Uk37')")
df_filt.head()

,dataSetName,archiveType,geo_meanLat,geo_meanLon,geo_meanElev,paleoData_variableName,paleoData_values,paleoData_units,paleoData_proxy,paleoData_proxyGeneral,time_variableName,time_values,time_units,depth_variableName,depth_values,depth_units
0,Ocn-RedSea.Felis.2000,coral,27.8500,34.3200,-6.0,d18O,"[-4.12, -3.82, -3.05, -3.02, -3.62, -3.96, -3....",permil,d18O,None,year,"[1995.583, 1995.417, 1995.25, 1995.083, 1994.9...",AD,None,None,None
1,Ant-WAIS-Divide.Severinghaus.2012,borehole,-79.4630,-112.1250,1766.0,temperature,"[-29.607, -29.607, -29.606, -29.606, -29.605, ...",degC,borehole,None,year,"[8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0,...",AD,None,None,None
3,Asi-SourthAndMiddleUrals.Demezhko.2007,borehole,55.0000,59.5000,1900.0,temperature,"[0.166, 0.264, 0.354, 0.447, 0.538, 0.62, 0.68...",degC,borehole,None,year,"[800.0, 850.0, 900.0, 950.0, 1000.0, 1050.0, 1...",AD,None,None,None
4,Ocn-AlboranSea436B.Nieto-Moreno.2013,marine sediment,36.2053,-4.3133,-1108.0,temperature,"[18.79, 19.38, 19.61, 18.88, 18.74, 19.25, 18....",degC,alkenone,None,year,"[1999.07, 1993.12, 1987.17, 1975.26, 1963.36, ...",AD,None,None,None
5,Eur-SpannagelCave.Mangini.2005,speleothem,47.1000,11.6000,2347.0,d18O,"[-7.49, -7.41, -7.36, -7.15, -7.28, -6.99, -6....",permil,d18O,None,year,"[1935.0, 1932.0, 1930.0, 1929.0, 1929.0, 1928....",AD,None,None,None

In [22]:
df_filt.shape

(22, 16)

Which leaves us with 22 timeseries.

### Removing and popping datasets out of a LiPD object

You can also remove (i.e., delete the corresponding dataset from the `LiPD` object) or pop (i.e., delete the corresponding dataset from the `LiPD` object **and** return the dataset) datasets from a `LiPD` object. Note that these functionalities behave similarly as the functions with the same names on Python lists. These functions underpin more adavanced filtering and querying capabilities that we will discuss in later tutorials. 

First let's make a [copy](https://pylipd.readthedocs.io/en/latest/source/pylipd.html#pylipd.lipd.LiPD.copy) of `D_dir`:

In [23]:
D_test = D_dir.copy()
print(D_test.get_all_dataset_names())

['Ocn-RedSea.Felis.2000', 'Ant-WAIS-Divide.Severinghaus.2012', 'Asi-SourthAndMiddleUrals.Demezhko.2007', 'Ocn-AlboranSea436B.Nieto-Moreno.2013', 'Eur-SpannagelCave.Mangini.2005', 'Ocn-FeniDrift.Richter.2009', 'Eur-LakeSilvaplana.Trachsel.2010', 'Ocn-PedradeLume-CapeVerdeIslands.Moses.2006', 'Ocn-SinaiPeninsula_RedSea.Moustafa.2000', 'Eur-NorthernSpain.Martin-Chivelet.2011', 'Arc-Kongressvatnet.D_Andrea.2012', 'Eur-CoastofPortugal.Abrantes.2011', 'Eur-SpanishPyrenees.Dorado-Linan.2012', 'Eur-FinnishLakelands.Helama.2014', 'Eur-NorthernScandinavia.Esper.2012', 'Eur-Stockholm.Leijonhufvud.2009']

And let's [remove](https://pylipd.readthedocs.io/en/latest/source/pylipd.html#pylipd.lipd.LiPD.remove) `Eur-Stockholm.Leijonhufvud.2009`, which corresponds to the last entry in the list above:

In [24]:
D_test.remove('Eur-Stockholm.Leijonhufvud.2009')

print(D_test.get_all_dataset_names())

['Ocn-RedSea.Felis.2000', 'Ant-WAIS-Divide.Severinghaus.2012', 'Asi-SourthAndMiddleUrals.Demezhko.2007', 'Ocn-AlboranSea436B.Nieto-Moreno.2013', 'Eur-SpannagelCave.Mangini.2005', 'Ocn-FeniDrift.Richter.2009', 'Eur-LakeSilvaplana.Trachsel.2010', 'Ocn-PedradeLume-CapeVerdeIslands.Moses.2006', 'Ocn-SinaiPeninsula_RedSea.Moustafa.2000', 'Eur-NorthernSpain.Martin-Chivelet.2011', 'Arc-Kongressvatnet.D_Andrea.2012', 'Eur-CoastofPortugal.Abrantes.2011', 'Eur-SpanishPyrenees.Dorado-Linan.2012', 'Eur-FinnishLakelands.Helama.2014', 'Eur-NorthernScandinavia.Esper.2012']

Now let's [pop](https://pylipd.readthedocs.io/en/latest/source/pylipd.html#pylipd.lipd.LiPD.pop) `Eur-NorthernScandinavia.Esper.2012` from `D_test`:

In [25]:
d_eur = D_test.pop('Eur-NorthernScandinavia.Esper.2012')

Now let's have a look at `d_eur`:

In [26]:
print(d_eur.get_all_dataset_names())

['Eur-NorthernScandinavia.Esper.2012']

It contains the dataset we are expecting. Let's have a look at `D_test`:

In [27]:
print(D_test.get_all_dataset_names())

['Ocn-RedSea.Felis.2000', 'Ant-WAIS-Divide.Severinghaus.2012', 'Asi-SourthAndMiddleUrals.Demezhko.2007', 'Ocn-AlboranSea436B.Nieto-Moreno.2013', 'Eur-SpannagelCave.Mangini.2005', 'Ocn-FeniDrift.Richter.2009', 'Eur-LakeSilvaplana.Trachsel.2010', 'Ocn-PedradeLume-CapeVerdeIslands.Moses.2006', 'Ocn-SinaiPeninsula_RedSea.Moustafa.2000', 'Eur-NorthernSpain.Martin-Chivelet.2011', 'Arc-Kongressvatnet.D_Andrea.2012', 'Eur-CoastofPortugal.Abrantes.2011', 'Eur-SpanishPyrenees.Dorado-Linan.2012', 'Eur-FinnishLakelands.Helama.2014']


<div class="alert alert-warning">
    The dataset was removed from `D_test` in the process. Hence, it's always prudent to make a copy of the original object when using the `remove` and `pop` functionalities. 
</div>

If can also remove/pop more than one dataset at a time:

In [28]:
rem = ['Ocn-RedSea.Felis.2000','Ant-WAIS-Divide.Severinghaus.2012']

D_test.remove(rem)
print(D_test.get_all_dataset_names())

['Asi-SourthAndMiddleUrals.Demezhko.2007', 'Ocn-AlboranSea436B.Nieto-Moreno.2013', 'Eur-SpannagelCave.Mangini.2005', 'Ocn-FeniDrift.Richter.2009', 'Eur-LakeSilvaplana.Trachsel.2010', 'Ocn-PedradeLume-CapeVerdeIslands.Moses.2006', 'Ocn-SinaiPeninsula_RedSea.Moustafa.2000', 'Eur-NorthernSpain.Martin-Chivelet.2011', 'Arc-Kongressvatnet.D_Andrea.2012', 'Eur-CoastofPortugal.Abrantes.2011', 'Eur-SpanishPyrenees.Dorado-Linan.2012', 'Eur-FinnishLakelands.Helama.2014']